{% extends 'base.html' %}

{%block title%}choose league{%endblock%}

{%block css%}

<style>
/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

/* Heading */
.heading {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.heading h2 {
    margin: 0;
}

/* Container */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Form styling */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}


</style>
{%endblock%}


{%block content%}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}



<div class="heading">
    <div class="bg"></div>
    <h2>Choose your league</h2>
</div>

<div class="container">
    <form method="get" action="league">
        <div class="form-group">
            <label for="selectOption" class="form-label">Select League:</label>
            <select class="form-select" id="selectOption" name="leagueid">
                <option selected value="140">La Liga</option>
                <option value="135">Serie A</option>
                <option value="78">Bundesliga</option>
                <option value="61">Ligue 1</option>
                <option value="39">Premier League</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="selectOption" class="form-label">Select Season:</label>
            <select class="form-select" name="season">
                {% for y in range(10, 22) %}
                <option value="20{{ y }}">20{{ y }}-{{ y+1 }}</option>
                {% endfor %}
                <option selected value="2022">2022-23</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-success">SEARCH</button>
    </form>
</div>




{%endblock%}

