{% extends 'base.html' %}

{%block title%}choose league{%endblock%}

{%block css%}
<style>
    div.heading {
        position: relative;
        height: 300px;
        width: 100vw;
    }

    div.heading>div.bg {
        height: 100%;
        width: 100%;
        background: url("https://www.sky.co.nz/documents/117005/0/Football-Logo-Wall.jpg/96841bc0-15fd-6b0b-f4fd-de3086293578?t=1670361825177&download=true");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: invert(1) blur(5px);
        z-index: 1;
    }

    div.heading>h2 {
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        color: white;
        background-color: rgba(7, 7, 7, 0.5);
        padding: 20px 40px;
    }
</style>
{%endblock%}


{%block content%}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flash-messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="heading">
    <div class="bg"></div>
    <h2>choose your league</h2>
</div>



<div class="container">
    <form method="get" action="league">
        <div class="mb-3">
            <label for="selectOption" class="form-label">Select League:</label>
            <select class="form-select" id="selectOption" name="leagueid">
                <option selected value="140">la liga</option>
                <option value="135">Serie A</option>
                <option value="78">bundesliga</option>
                <option value="61">Ligue 1</option>
                <option value="39">premier league</option>
            </select>

            <label for="selectOption" class="form-label">Select Season:</label>
            <select class="form-select" name="season">
                {%for y in range(10,22)%}
                <option value="20{{y}}">20{{y}}-{{y+1}}</option>
                {%endfor%}
                <option selected value="2022">2022-23</option>
            </select>
        </div>
        <a href="{{ url_for('league') }}">
            <button type="submit" class="btn btn-success">SEARCH</button>
        </a>
    </form>
</div>



{%endblock%}