

{% extends 'base.html' %}


{%block title%}league{%endblock%}
{%block css%}
<style>
    body {
        background-color: #1a1a1a;
    }
</style>
{%endblock%}



{%block content%}




<div id="wg-api-football-standings" data-host="api-football-v1.p.rapidapi.com"
    data-key="018490ae74msh76daff5b99447f7p13d47ejsnc069ebcec164" data-team="" data-league="{{ league_id }}"
    data-season="{{ season }}" data-theme="dark" data-show-errors="false" data-show-logos="true" class="wg_loader">
</div>
{%endblock%}

{%block script%}

<script>
    setTimeout(() => {
        const teams = document.getElementsByClassName("wg_nowrap")
        console.log(teams)
        for (let team of teams) {
            team.addEventListener("click", function () {
                const number = team.querySelector('img').getAttribute('src').split('/').pop().split('.')[0];
                window.location.href = `/team?teamID=${number}`
            })
        }
    }, 2000);


</script>
{%endblock%}