{% extends 'base.html' %}


{%block title%}sign up{%endblock%}
{%block css%}
<style>

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    width: 400px;
    padding: 30px;
    background-color: #333;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.signup .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

.signup .df {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup .btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #888;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.signup .btn:hover {
    background-color: #777;
}

.signup .btn-link {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

</style>
{%endblock%}


{%block reference%}{%endblock%}


{%block content%}
<div class="main">
    <div class="container">
        <form action="/signup" method="post" class="signup">
            <!-- Input fields for username and password -->
            <input type="text" name="username" id="username" class="form-control" placeholder="Username">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            <div class="df">
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <a href="{{url_for('login')}}" class="btn btn-link mt-3">Log in</a>
            </div>
        </form>
        
    </div>
</div>
{%endblock%}