{% extends 'base.html' %}


{%block title%}squad{%endblock%}
{%block css%}
<style>
    body {
        background-color: #1a1a1a;
        color: #fff;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    
    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #555;
    }
    
    th {
        background-color: #333;
        font-weight: bold;
    }
    
    tbody tr:nth-child(even) {
        background-color: #222;
    }
    
    .coach {
        margin-top: 20px;
        text-align: center;
    }
    
    .coach p {
        margin: 5px 0;
        font-weight: bold;
    }
    
    .coach img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    
    /* Anchor link styles */
    a {
        color: #fff;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    
</style>
{%endblock%}



{%block content%}
<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>Position</th>
            <th>Name</th>
            <th>Age</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        {% for player in squad %}
        <tr>
            <td>{{ player['number'] }}</td>
            <td>{{ player['position'] }}</td>
            <td>{{ player['name'] }}</td>
            <td>{{ player['age'] }}</td>
            <td><img src="{{ player['photo'] }}" alt=""></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="coach">
    <p>{{ coach['name'] }}</p>
    <p>Age: {{ coach['age'] }}</p>
    <img src="{{ coach['photo'] }}" alt="">
</div>

{%endblock%}