div.heading {
    position: relative;
    height: 500px;
    width: 100vw;
    &>div.bg{
        height: 100%;
        width: 100%;
        background: url("https://www.sky.co.nz/documents/117005/0/Football-Logo-Wall.jpg/96841bc0-15fd-6b0b-f4fd-de3086293578?t=1670361825177&download=true");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        filter: invert(1) blur(5px);
        z-index: 1;
    }
    &>h2{
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 48px;
        color: white;
        background-color: rgba($color: #070707, $alpha: 0.5);
        padding: 20px 40px;
        
    }
}