body {
    &.auth {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;


        &>div.container {
            width: 500px;

            &>form {
                input {
                    margin: 10px 0;
                }

                &>.df {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }
        }
    }
}